@keyframes slideLeft {
    0% {
        transform: translateX(15vw);
        opacity: 0;
    }
    100% {
        transform: translateX(22.8vw);
        opacity: 1;
    }
}
@keyframes slideRight {
    0% {
        transform: translateX(17.5vw);
        opacity: 0;
    }
    100% {
        transform: translateX(10vw);
        opacity: 1;
    }
}

@keyframes squiggle {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5px) rotate(2deg);
    }
    50% {
        transform: translateY(5px) rotate(-2deg);
    }
    75% {
        transform: translateY(-3px) rotate(1deg);
    }
    100% {
        transform: translateY(0);
    }
}


/*general overall layout*/
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.frame {
    height: 1209px; /*måtte gi height fordi hvis ikke kollapse alt pga abosluite psotioning*/
  }
  .frame-bckg {
    background-color: #009dc4;
  }
  
  .frame-bckg-grey {
    background-color: grey;
  }
  .frame-bckg--lightBlue {
    background-color: #3b8ca0;
  }

  
  /*frame - ship stacked up with containers*/
  .ship-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #009dc4;
    overflow: hidden;
}

.ship-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 50vw;
}

.waterflow {
    width: 10vw;
    z-index: 2;
    position: absolute;
    animation: squiggle 2s infinite ease;

    &-topleft{
      top: 17vw;
      left: 27vw;
    }
    &-topmiddle{
      top: 11vw;
    left: 41vw;
    }
    &-rightmiddle{
      top: 4vw;
    left: 73vw;
    }
    &-topright{
      top: 11vw;
    left: 76vw;
    }
    &-right{
      top: 24vw;
      left: 75vw;
    }
    &-bottomright{
      top: 33vw;
    left: 65vw;
    }
    &-bottommiddle{
      top: 37vw;
      left: 53vw;
    }
    &-bottomleft{
      top: 2vw;
      left: 54vw;
    }
}
  
  /*container - doors open and close frame */
  .image-wrapper {
    position: relative;
  }
  
  .fill {
    height: 400px;
  }
  
  .open-box {
    width: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .door {
    position: absolute;
    width: 14vw;
  }
  .door__left {
    left: 23.5vw;
    top: 112.7vw;
    animation: slideLeft 3s infinite ease;
  }
  .door__right {
    right: 34.5vw;
    top: 112.6vw;
    animation: slideRight 3s infinite ease;
  }
  
  /*fishbox - frame*/
  .fish-box {
    width: 20vw;
  }
  
  /*frame for world map*/
  .container__worldMap {
    position: relative;
  }
  
  .container__wrapper-worldMap > img {
    position: absolute;
  }
  
  .circle__small {
    width: 3%;
  }
  
  .circle__large {
    width: 4%;
  }
  
  .container__boat {
    width: 10%;
  }
  
  .path {
    width: 60%;
    fill: none;
    stroke: #000;
    stroke-miterlimit: 30;
  }
  
  @media screen and (max-width: 600px) {
    .frame {
      height: 400px; /*måtte gi height fordi hvis ikke kollapse alt pga abosluite psotioning*/
    }
  }/*# sourceMappingURL=styles.css.map */
