@keyframes slideLeft {
    0% {
        transform: translateX(15vw);
        opacity: 0;
    }
    100% {
        transform: translateX(22.8vw);
        opacity: 1;
    }
}
@keyframes slideRight {
    0% {
        transform: translateX(17.5vw);
        opacity: 0;
    }
    100% {
        transform: translateX(10vw);
        opacity: 1;
    }
}

@keyframes squiggle {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5px) rotate(2deg);
    }
    50% {
        transform: translateY(5px) rotate(-2deg);
    }
    75% {
        transform: translateY(-3px) rotate(1deg);
    }
    100% {
        transform: translateY(0);
    }
}



html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.image-wrapper {
    position: relative;
}
.fill {
    height: 400px;
}
.open-box {
    width: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.left-door {
    position: absolute;
    width: 14vw;
    left: 23.5vw;
    top: 22.7vw;
}
.right-door {
    position: absolute;
    width: 14vw;
    right: 34.5vw;
    top: 22.6vw;
}
.animation-left {
    animation: slideLeft 3s infinite ease;
}
.animation-right {
    animation: slideRight 3s infinite ease;
}

.ship-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #009dc4;
    overflow: hidden;
}

.ship-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 50vw;
}

.waterflow {
    width: 10vw;
    z-index: 2;
    position: absolute;
    animation: squiggle 2s infinite ease;
}

.waterflow-topleft {
    top: 17vw;
    left: 27vw;
}
.waterflow-topmiddle {
    top: 11vw;
    left: 41vw;
}
.waterflow-rightmiddle {
    top: 4vw;
    left: 73vw;
}
.waterflow-topright {
    top: 11vw;
    left: 76vw;
}
.waterflow-right {
    top: 24vw;
    left: 75vw;
}
.waterflow-bottomright {
    top: 33vw;
    left: 65vw;
}
.waterflow-bottommiddle {
    top: 37vw;
    left: 53vw;
}
.waterflow-bottomleft {
    top: 2vw;
    left: 54vw;
}
